.navbar.navbar-default {
    border-radius: 0;
}

ul.nav {
    display: flex;
    align-items: center;
}

ul.nav > li{
    display: block;
    vertical-align: middle;
    /*display: inline-block;*/
    /*align-self: center;*/
}

ul.nav > li > *{
    top: 50%;
    align-self: center;
    /*align-self: center;*/

}

.profile-image {
    height: 32px;
    width: 32px;
    margin: 0 3px;
    border-radius: 8px;
    border: 2px white;
    display: inline-block;
}

#err_container {
    width: 100%;
    text-align: center;
    margin: 3px 0
}

#err_hand {
    display: inline-block;
    margin: 0 auto;
}