{% block arbitrary %}{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/js/js.cookie.js"></script>
    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/js/helpers.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

    {% block head %}
    {% endblock %}
</head>
<body>
<div class="container">
{% block body %}
No data here...
{% endblock %}
</div>
</body>
</html>