{% extends "base.html" %}
{% set user = get_user() %}
{% block data %}
<form id="da_form">
    <div class="row">
        <div class="col s12">
            <label for="token_number">Number of tokens</label>
            <select name="token_number" id="token_number" class="browser-default">
                <option value="1" selected>1</option>
                {% for n in range(2,101) %}
                    <option value="{{ n }}">{{ n }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input type="number" name="token_value" id="token_value"/>
            <label for="token_value">Token Value</label>
        </div>
    </div>

    <div class="row" id="token_code_container">
        <div class="input-field col s12">
            <input type="text" name="token_code" id="token_code" />
            <label for="token_code">Token Code (optional)</label>
        </div>
    </div>

    <input hidden name="auth_token" id="auth_token_field" value="">
    <input type="submit" value="Submit" />
</form>

<table id="da_table">
<tr>
    <td>Code</td>
    <td>Value</td>
</tr>
</table>

<script type="text/javascript">
    $("#auth_token_field").val(Cookies.get("auth_token"));
    function update_token_code_container(){
        if ($("#token_number").val() == 1){
            $("#token_code_container").show()
        } else {
            $("#token_code_container").hide()
        }
    }
    update_token_code_container();


    $("#token_number").change(update_token_code_container);
    $("#da_form").submit(function(){
        $.ajax({
            url: "/api/v1/token/create",
            data: $(this).serialize(),
            method: "POST",
            success: function (d, s, j) {
                alert(d.message);
                d.tokens.forEach(function(i){
                    var row = $("<tr>").append($("<td>").text(i.code)).append($("<td>").text(i.value));
                    $("#da_table").append(row);
                })
            }
        });
        return false;
    })
</script>
{% endblock %}