{% extends "base.html" %}
{% block head %}
    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
{% endblock %}
{% block body %}
<form id="da_form">
    {% if establishments %}
        <label for="da_estab">Establishment</label>
        <select id="da_estab">
        {% for estab in establishments %}
            <option value="{{ estab.id }}">{{ estab.full_name }}</option>
        {% endfor %}
        </select>
    {% else %}
        <label for="da_estab">Establishment ID</label>
        <input type="text" id="da_estab" />
    {% endif %}
    <br/>

    <label for="da_username">Username</label>
    <input type="text" id="da_username" />
    <br/>

    <label for="da_password">Username</label>
    <input type="password" id="da_password" />
    <br />

    <input type="submit">
</form>

<script type="text/javascript">
    $("#da_form").submit(function(event) {
        event.preventDefault();

        $.ajax({
            url: "/api/v1/user/login",
            method: "POST",
            data: {
                estab_id: $("#da_estab").val(),
                username: $("#da_username").val(),
                password: $("#da_password").val()
            },
            success: function (data, textStatus, jqXHR) {
                console.log(data);
                Cookies.set("auth_token", data.auth_token);
                alert("Logged in!")
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseJSON.message);
            }
        });

        return false;
    })
</script>
{% endblock %}