{% extends "base.html" %}
{% block data %}
<div class="panel panel-success" style="margin-top: 20px;">

    <div class="panel-heading">
        Login
    </div>
    <div class="panel-body">
        <form id="da_form">
            {% if establishments %}
                <label for="da_estab">Establishment</label>
                <select name="estab_id" class="browser-default">
                {% for estab in establishments %}
                    <option value="{{ estab.id }}">{{ estab.full_name }}</option>
                {% endfor %}
                </select>
            {% else %}
                <label for="da_estab">Establishment ID</label>
                <input type="text" name="estab_id" />
            {% endif %}
            <br/>

            <label for="da_username">Username</label>
            <input type="text" name="username" />
            <br/>

            <label for="da_password">Password</label>
            <input type="password" name="password" />
            <br />
    </form>
    <div class="panel-footer">
            <button class="btn waves-effect waves-light" type="submit" name="action">Login
            </button>
        </form>
    </div>
</div>
<script type="text/javascript">
    $("#da_form").submit(function(event) {
        event.preventDefault();

        $.ajax({
            url: "/api/v1/user/login",
            method: "POST",
            data: $(this).serialize(),
            success: function (data, textStatus, jqXHR) {
                console.log(data);
                Cookies.set("auth_token", data.auth_token);
                if (QueryString.r){
                    alert("Logged in! redirecting back to previous page...");
                    window.location.replace(QueryString.r);
                } else {
                    alert("Logged in!");
                    window.location.replace("/");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseJSON.message);
            }
        });

        return false;
    })
</script>
{% endblock %}