{% extends "base.html" %}
{% block data %}


<div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Login to {{ get_site_name() }}
            </div>
            <form id="login_form">
                <div class="panel-body">


                    <!-- Using Jinja to check if there are any estabs -->

                    {% if establishments %}
                        <div class="form-group">
                            <label for="estab">Group name: </label>
                            <select class="form-control" name="estab_id">
                                {% for estab in establishments %}
                                    <option value="{{ estab.id }}">{{ estab.full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label for="estab">Establishment ID</label>
                            <input type="text" class="form-control" id="estab" name="estab_id" placeholder="Group name">
                        </div>
                    {% endif %}


                    <div class="form-group">
                        <label for="username">Username: </label>
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password: </label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
            </form>
        </div>
        <div class="alert" role="alert" id="err_hand"></div>
    </div>
    <div class="col-md-3"></div>

</div>


<script type="text/javascript">

    $(document).ready(function() {

        var login_form = $("#login_form");

        login_form.on('submit', function() {
            var data = login_form.serialize();
            login_user(data);
            return false;
        });

    }); 

</script>
{% endblock %}