{% extends "base.html" %}
{% block data %}
<form id="da_form">

    <label for="da_token">Auth Token</label>
    <input type="text" id="da_token" />
    <br/>

    <input type="submit">
</form>

<script type="text/javascript">
    $("#da_form").submit(function(event) {
        event.preventDefault();

        $.ajax({
            url: "/api/v1/user/test_login",
            method: "POST",
            data: {
                auth_token: $("#da_token").val()
            },

            success: function (data, textStatus, jqXHR) {
                console.log(data);
                alert(data.message);
            },

            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseJSON.message);
            }
        });

        return false;
    })
</script>
{% endblock %}