{% set user = get_user(user_id) %}
{% extends "base.html" %}
{% block data %}
	
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-info">
					<div class="panel-heading">
						Account Overview
					</div>
					<div class="panel-body">
						<b>Username: </b>{{ user.username }}<br />
                        <b>Full name: </b>
                        {% if user.other_names != "" %}
						    {{ user.first_name }} {{ user.other_names }} {{ user.last_name }}
                        {% else %}
                            {{ user.first_name }} {{ user.last_name }}
                        {% endif %}
                        <br />
{#						<b>Lastname: </b>{{ user.last_name }}<br />#}
					</div>
				</div>
			</div>
			<div class="col-md-8">

			</div>
		</div>
	</div>

{% endblock %}